
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.d-flex{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    border-right: 2px solid #000;
    font-family: monospace;
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    .typing-animation {
      font-size: 4px;
    }
  }

  @media screen and (max-width: 480px) {
    .typing-animation {
      font-size: 2px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #F76B1C;
    }
  }
.color{
    background-color: #F76B1C;
    border-radius: 50%;
    width: 20px;
    color:#F76B1C;
    margin: 1px 10px;
}
li{
    padding: 5px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    display: flex;
    justify-content: flex-start;
    /* padding: 10px; */
    margin-left: 10px;
    font-weight: 600;
}
.wrapper{
    /* display: flex; */
    justify-content: space-between;
}
.big_box1{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    height: fit-content;

    margin-top: 6rem;
}
.Titlecard{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    border-radius: 10px;
}
.box2{
    border: none;
    border-radius: 35px;
    width: 38%;
    text-align: center;
   
}
.font_bg{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 10px;
}
.box1{
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    border: none;
    border-radius: 35px;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.big_box2{

    padding:4rem;
}
.small_box1{
    padding: 10px;
    color: white;
    font-weight: 500;
    text-align:center;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 20px;
    font-size:small;

}
.heading{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
.font_img{
    display: flex;
    width: 4rem;
    min-width: 1rem;
    justify-content: space-between;
    align-items: center;
    
}
button{
    border-radius: 2rem;
    height: 4rem;
    background-color: black;
    border: none;
    color: white;
    padding: 1rem;
    width: 8rem;
}

@media (max-width: 800px) {
    .Titlecard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    .box1{
        background-color: #FAACA8;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
        border: none;
        width: 95%;
        border-radius: 35px;
        padding: 10px;
        margin: 10px 10px;
    }
    .box2{

        border: none;
        border-radius: 35px;
        padding: 10px;
        width: 100%;
        margin-top: 10px ;
    }
    .font_bg{
        background-color: #ffffff;
        padding: 10px;
        border-radius: 50%;
        margin: 10px 10px;
    }
    .big_box2{
     display:flex ;
     align-items: center;
     justify-content: center;
    }

    .font_img{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .logo{
        display: flex;
        justify-content: flex-start;
        /* padding: 10px; */
        font-size: 16px;
        font-weight: 600;
    }
    .links{
        font-weight:800;
        padding: 1px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.6vh;
        
    }
}
.img-1{
    transition: transform 0.3s ease-in-out; 
    width: 60%;
}

.links{
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.links:hover{
    font-weight: bold;
    padding: 5px;
    background-color:white;
    transition: 0.4s ease-in;
    border-radius: 10px;
    text-decoration: none;
}